#head {
    width: 100%;
    background-image: url("https://fptshop.com.vn/Uploads/images/2015/Tin-Tuc/An/12-2016/iphone/iphone-7/anh-nen-may-tinh-cuc-dep-cua-bo-phim-your-name-cau-ten-la-gi-dang-hot-fptshop-3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
  }
#head1 {
    width: 70%;
    background-image: url("https://static.abay.vn/nha-tho-duc-ba-paris.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
  }
#head2 {
    width: 70%;
    background-image: url("http://img.news.zing.vn/img/661/t661710.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
  }
#head3 {
    width: 70%;
    background-image: url("https://img.canhdep.net/image/2016/04/nhung-hon-dao-giua-thanh-pho-dep-nhat-the-gioi.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
  }
#head4 {
    width: 70%;
    background-image: url("https://znews-photo-td.zadn.vn/w860/Uploaded/ngtmns/2015_11_08/4_1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
  }
.text {
  color: white;
  background-color: blue;
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  #head1 {
    height: 300px;
  }
  #head2 {
    height: 300px;
  }
  #head3 {
    height: 300px;
  }
  #head4 {
    height: 300px;
  } 
}
@media only screen and (max-width: 768px) {
  #head {
    height: 300px;
  }
  #head1 {
    height: 200px;
  }
  #head2 {
    height: 200px;
  }
  #head3 {
    height: 200px;
  }
  #head4 {
    height: 200px;
  } 
}